<div class="bg-white">
   <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/assets/images/logo.svg" alt="品牌"></a>
            <ul class="d-flex">
                <li><a href="">服務方案</a></li>
                <li><a href="">關於職旅</a></li>
                <li><a href="">聯絡我們</a></li>
            </ul>
            <a href="#"><img src="/assets/images/avatar.png" width="44px" height="44px" alt="頭像">Mokumaru</a>
        </div>
        </nav>
    </div> 
</div>
