.footer{
  max-width: 1296px;
  margin: 0 auto;
  padding: 48px 0px 48px 0px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #667F99;
  li{
   padding-top: 8px;
   padding-bottom: 8px;
  }
  .right{
    color: #667F99;
  }
}