li{
  list-style: none;
}

a{
  text-decoration: none;
  padding: 8px 24px 8px 24px;
}

.header{
  max-width: 1296px;
  margin: 0 auto;
  ul{
    gap: 12px;
  }
  img{
    margin-right: 8px;
    border-radius: 22px;
  }
}