body{
    background: #F0F3F5;
}

.bg-white{
    background: #FCFCFD;
}

.pt-48{
    padding-top: 48px;
}

.pb-48{
    padding-bottom: 48px;
}

.ml-24{
    margin-left: 24px;
}

.mr-24{
    margin-right: 24px;
}

.mb-24{
    margin-bottom: 24px;
}

.height-160{
    height: 160px;
}

.bg{
    max-width: 1076px;
    margin: 0 auto;
}

.question{
    font-weight: 400;
    line-height: 0.05rem;
}

.b-bottom{
    border-bottom: 1px solid #D1D9E1;
}
